

*{
  margin: 0 auto;
}

body{
  background-color: #f7f7f7;
}

a{
  background:#595959;
   padding:10px 20px; 
   color:white; 
   font-size: 20px; 
   

 }

 .chapters {
  height:100vh; padding-top:20px; font-size: 40px;
 }




.bird-box{
  position: relative; 
  height:600px;
  background-image: url(../images/bird-bg.jpg);
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; 
  
}

.headert{ 
  background-position: center;
  font-size: 50px;

}

.headert{
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute; /* this will get it down */
  top: 70%;
   font-size: 50px;
   text-align: center;
   color: #595959;  
}

.fore-bird{
  width:690px;
  height: 690px;        
  background-image: url(../images/fore-bir.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left:30%;
  margin-left: -500px; 

}

.back-bird{
  width: 960px;
  height: 298px; /* height of the actual image */
  background-image: url(../images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute; /*this makes the bird stay in the center with the rest */
  left: 50%;
  margin-left: -480px; /*half of 960 */
}



.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #595959;
  text-align: center;
  color: white; 
  font-size: 12px; 
}



